################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Delegates/.vs/Delegates/v15/Server/sqlite3/db.lock
/Abstract and Sealed classes/.vs/ConsoleApp1/v15/Server/sqlite3/db.lock
